@import url(http://weloveiconfonts.com/api/?family=fontawesome);
html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e9eaea;
    color: #666;
}

[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}

.hidden {
    display: none;
}

.content {
    display: flex;
}

.listview {
    width: 100%;
}

.profile {
    width: 100%;
}

.calories {
    text-align: center;
}

.total-calories {
    text-align: center;
}

.profile-view {
    margin: 0 auto;
    width: 100%;
}

.container {
    padding-top: 70px;
}

.navigation {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 100;
}

.navigation-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    line-height: 70px;
}

.navigation-foods {
    width: 50%;
}

.navigation-profile {
    width: 50%;
}

.search-container {
    display: flex;
}

.search-bar {
    width: 80%;
    border: 1px solid #fff;
    font-size: 18px;
    height: 100%;
    padding: 16px;
}

.search-button {
    width: 20%;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 0 5px;
    font-size: 18px;
    color: #777;
    padding: 16px;
}

.food-item {
    width: calc(100% - 24px);
    margin-top: 10px;
    padding: 12px 10px 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.food-item:hover {
    background-color: #d1d7fc;
    cursor: pointer;
}

.food-item-calories {
    text-align: right;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .navigation {
        display: none;
    }
    .container {
        padding-top: 20px;
    }
    .food-item {
        width: 90%;
    }
    .listview {
        width: 100%;
        display: block;
    }
    .profile-view {
        display: block;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
